

<div class="build-form"><form class="build-form d-flex flex-column">
  <div class="form-group">
      <label for="usr">Name:</label>
       <input  class="form-control" id="name">
    </div>
    <div class="form-group">
         <label >budget limit:</label>
        <input class="form-control" id="budget_limit">
<button type="submit" class="btn btn-outline-warning">save</button> 
</div></form>


<div class="build-text">
    <section class="container my-5">
    <!-- Use row class to create row in the container -->
    <div class="pull-left">
        <h3>Build Your Budget</h3>
        <p>start by giving us the name and the budget limit</p>
    </div>
</section>
</div>
<script src="/js/build.js"></script>