<div> <form class="build-form">
    <input id="name">
    <input id="budget_limit">
    <input id="date">
    <button type="submit">save</button>
</form></div>

<script src="/js/buildbudget.js"></script>