<div class="container ">
  <div class="row justify-content-between align-items-center">
    <div class="col-md-6">
      <div class="jumbotron bg-white text-left">
        <h1 class="display-5 text-lowercase mb-5">Build your budget</h1>
        <p class="lead">Start by giving us the name of the budget and the budget limit you would like to set.</p>
        <br>
  </div>
</div>
    <div class="col-md-6 jumbotron bg-white">
        <div class="build-form"><form class="build-form">
            <div class="form-group">
                <label for="usr">Enter a Budget Name:</label>
                <input  class="form-control" id="name" onclick="return IsEmpty()" placeholder="ex. November 2022";>
            </div>
            <p id="nameL" style ="display: none" class="text-danger font-italic">you must enter the budget name</p>
            <div class="form-group">
                <label >Enter a Budget Limit:</label>
                <input class="form-control" id="budget_limit" placeholder="$ 350">
                <br> 
                <p id="budgetL" style ="display: none" class="text-danger font-italic"> you must add a budget limit</p>  
                <button type="submit" class="btn btn-success mb-1">+ create new budget</button> 
                <br>
                  <button onclick="window.location.href='/dash';" class="btn btn-success mt-1">
    < back to dashboard</button>
            </div></form>
        </div>
    </div>
</div>

<script src="/js/build.js"></script>