<div class="container text-center">
  <div class="row justify-content-between align-items-center">
    <div class="col-lg-6">
      <div class="jumbotron bg-white text-left">
        <h2 class="display-3 mb-5">Welcome!</h2>
        <p class="lead">This is where you will see all the budgets you have created.</p>
        <p class="lead">Click on a budget to view it's details.</p>
        <p class="lead">Click on the create budget button to create a new budget.</p>
    <button
      onclick="window.location.href='/build';"
      id="budgetBtn"
      class="btn btn-success"
    >create budget</button>
  </div>
</div>

{{#if budgets.length}}
<div class="jumbotron bg-white text-right">
  <div class="container budget-list">
    {{#each budgets as |budget|}}
      <div class="card bg-success" style="width: 18rem;">
        <div class="card-body">
                <h4><a href="dash/budget/{{budget.id}}">{{budget.name}}<br
              />${{budget_limit}}</a></h4>
        </div>
        <a
          href="#"
          class="btn btn-close btn-danger"
          data-id="{{budget.id}}"
        >DELETE</a>
      </div>
    {{/each}}
  </div>
</div>
{{/if}}
<script src="./js/dashboard.js"></script>