<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-lg-4 text-center border rounded m-5 p-5">
          <h3>login:</h3>
      
          <form class="form login-form p-3">
            <div class="form-group">
              <input class="form-input text-center" type="text" id="username-login" placeholder="username" />
            </div>
            <div class="form-group">
              <input class="form-input text-center" type="password" id="password-login" placeholder="password"/>
            </div>
            <div class="form-group">
              <button class="btn btn-warning custom-text-color mt-3" type="submit">login</button>
            </div>
          </form>
        </div>
        <div class="col-lg-4 text-center border rounded m-5 p-5">
          <h3>create account:</h3>
          <form class="form signup-form p-3">
            <div class="form-group">
              <input class="form-input text-center" type="text" id="username-signup" placeholder="enter a username" />
            </div>
            <div class="form-group">
              <input class="form-input text-center" type="password" id="password-signup"  placeholder="enter a password"/>
            </div>
            <div class="form-group">
              <button class="btn btn-warning custom-text-color mt-3" type="submit">signup</button>
            </div>
          </form>
        </div>
      </div>
</div>


<script src="./js/login.js"></script>