header {
background-color: #053F5C;
color: #FDF68B;
padding: .75rem;
}

.custom-navbar {
    color: #FDF68B;
    font-size: 1.25rem;
}

.custom-button-font {
    font-size: 1rem;
}

.nav-link a:link, a:visited {
    color: #FDF68B;
}
.nav-link a:hover {
    color: #CFE87F;
}

a {
    color:#053F5C;
}
#logo {
    position: relative;
}

.custom-primaryButton {
    background-color: #FDF68B;
    color: #053F5C;
    border: 2px solid #053F5C;
    font-weight: bold;
    letter-spacing: 2px;;
} 

.build-form{
    margin-left: 55%;

}

.budget-list {
    margin-left: 80rem;
}

.form-control{
    width: fit-content;
}

.btn{
    width: fit-content;
}


.build-text{
    flex-direction: column;
}

.custom-blockColor {
    background-color: #FFEFCE;
}
/* .custom-secondaryButton {
    background-color: #053F5C ;
    color:#FDF68B
} */

input {
    border: 2px solid lightgray;
}