header {
background-color: #053F5C;
color: #F7AD19;
padding: .75rem;
}

#logo {
    position: relative;
}

.custom-primaryButton {
    background-color: #F7AD19;
    color: #053F5C;
} 

.build-form{
    margin-left: 55%;

}

.budget-list {
    margin-left: 80rem;
}

.form-control{
    width: fit-content;
}

.btn{
    width: fit-content;
}


.build-text{
    flex-direction: column;
}

.custom-blockColor {
    background-color: #FFEFCE;
}
.custom-secondaryButton {
    background-color: #053F5C ;
    color:#F7AD19
}